div
{
	font-family: verdana;
}

h1
{
	padding: 35px;
	text-align: center;
}

.instructions
{
	text-align: center;
	font-size: 2em;
}

small
{
	font-size: 0.4em;
	color: darkgray;
}

.jumbotron
{
	border-radius: 10px;
}